<h1>PdfBundle examples</h1>

<ul>
	<li><a href="{{ path("_pdf_examples") }}">Standard examples of PHPPdf library</a></li>
	<li><a href="{{ path("_pdf_using_facade_directly") }}">Manually created pdf</a></li>
	<li><a href="{{ path("_pdf_using_automatic_format_detection", {"name": "Guest"}) }}">Hello action in html format</a></li>
	<li><a href="{{ path("_pdf_using_automatic_format_detection", {"name": "Guest", "_format": "pdf"}) }}">Hello action in pdf format</a></li>
	<li><a href="{{ path("_pdf_markdown") }}">Pdf from markdown document</a></li>
	
</ul>